[flake8]
max-line-length = 127
max-complexity = 10
exclude = 
    .git,
    __pycache__,
    venv,
    .venv,
    migrations,
    .pytest_cache,
    .mypy_cache,
    node_modules,
    dist,
    build
ignore = 
    E203,
    E501,
    W503,
    F401,
    E722
per-file-ignores =
    __init__.py:F401
    settings.py:E501
    */migrations/*:E501,F401
    */tests/*:E501
select = E,W,F,C